
main {
  background-image: none;
  margin-top: 50px;
}
.listas {
  width: 30%;
  /* margin: auto; */
  margin: 2rem;
  border: 2px solid #663399;
  text-align: left;
}


li {
  list-style-type: circle;
  margin-block-start: 10px;
  margin-left: 2rem;
  margin-block-end: 10px;
  font-family: 'Nunito Sans', sans-serif;
}

.titulo-listas {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  font-size: 3rem;
  padding: 1.5rem;
  background-color: #663399;
}


/*
combinaciónd e fuentes interesantes
Título:
font-family: 'Roboto', sans-serif;
cuerpo del texto:
font-family: 'Nunito Sans', sans-serif;
 */