*{
  box-sizing: border-box;
}

:root {
 --Primay-color-2: #4E56C2;
 --Primary-color-strong-2:#070E75;
 --Primary-color-light-2:#C5C9FA;
 --Second-color-strong-2:#7A671B;
 --Second-color-light-2:#C2B47E;
 --Negro:#222222;
 --Blanco:#f0f8ff;
}

nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.3rem;
  background-color: var(--Negro);   
  
  position: -webkit-sticky;
  /* position: sticky; */
  position: fixed;
  top: 0; 
  width: 100%;
}
.pestaña {
  color:var(--Second-color-light-2);
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 2rem;
  border-radius: 5rem;
}
.pestaña:hover{
  background-color: var(--Second-color-light-2);
  color: var(--Blanco);
}
.container {
  display: flex;
  _justify-content: center;
  flex-direction: column;
  align-items: center;
  _border: 3px solid red;
  margin-top: 7rem;
}

.logo {
  width: 10rem;
}
.logo:hover {
  background-image: url("../img/job-coding.jpg");
  opacity: 0.3;
  width: 100%;
}

main {
  width: 80%;
  margin:auto;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  _border: 3px solid blueviolet;
  background-image: url("../img/imagen-fondo.jpg");
}

.titulo2{
  color: var(--Negro);
  font-size: 2rem;
  margin-top: 3rem;
  border-bottom: 8px solid grey;
  padding: 10px 50px;
  letter-spacing: 4px;
  font-size: 3rem;
  background-color: aliceblue;
  border-radius: 5rem;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.card {
  display: flex;
  justify-content: space-between;
  min-width: 350px; /* hay que conseguir que se quede con el ancho del mayor */
  _border: 3px solid rgb(63, 43, 155);  
}

.caja-fecha , .caja-curso , .caja-modalidad {
  display: flex;
  gap: 0.5rem;
}

.fecha-titulo , .curso-titulo , .modalidad-titulo{
  font-weight: bold;
  _border: 3px solid rgb(136, 94, 94);
}

.inscripcion{
  display: flex;
  align-items: center;
}
.button{
  _margin: 1rem;
  color: var(--Blanco);
  font-weight: bold;
  background-color: var(--Primary-color-strong-2);
  padding: 1rem;
  border-radius: 3rem;
}
/* .card:nth-child(1) .card:nth-child(2) { */
  .border-dotted {
  border-bottom: 3px dotted var(--Primary-color-strong-2);
  padding: 2rem 0 3rem 0;
}



/* pendiente de implementar con background image además de lets coder, hay que modificarlo */
.button:hover{
  _border: 1px solid var(--Primary-color-strong-2);
  background-color: var(--Blanco);
  color:var(--Primary-color-strong-2);
}

/* página conócenos */
.caja-conocenos-main {
  display: flex;
  flex-direction: row-reverse;
}
.contenido-conocenos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.descripcion-conocenos {
  align-self: center;
  max-width: 30%;
  padding: 0 50px;
  text-align: justify;
}
.card-mentores {
  display: flex;
  gap: 1rem;
}
.img-mentores {
  border-radius: 50%;
  width: 100px; /* ésto tengo que llevarlo a % */
  height: 100px;
}
.descripcion-mentores {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto-mentores {
  text-align: center;
}
.borde1 {
  border: 3px dotted rgb(136, 94, 94);
}

.borde2{
  border: 3px dashed rgb(136, 94, 94);
}

.borde3{
  border: 3px inset rgb(136, 94, 94);
}